@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}
.container{
  margin: auto;
  padding: 0 20px;
  max-width: 768px;

}

.card{
  background: #fff;
  color: #333;
  padding: 40px 50px;
  margin: 10px 0;
  border-radius: 15px;
  position: relative;


}
.num-display{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f4f4;
  text-align: center;
  position: relative;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #eee;
  transition: .3s;
  
}
.num-display{
  background: #ff6a95;
  color: #fff;
  position: absolute;
  top:-10px;
  left:-10px
}

